html {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {    
    background-color: antiquewhite;
    
  }

  ul {
    padding: 0px;
    list-style-type: none;
  }

  legend {
    font-weight: bold;
    padding: 0px;
  }

  p{
    padding: 0px;
  }

  .container {
    background-color: whitesmoke;
    border: 1px solid black;
    padding: 12px;
    width: 60%;
    margin: 0 auto;
  }