html {
  background-color: antiquewhite;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  ul {
    padding: 0px;
    list-style-type: none;
  }

  legend {
    font-weight: bold;
    padding: 0px;
  }

  p{
    padding: 0px;
  }