html {
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

  body {    
    background-color: white;
    
  }
  h1 {
    margin: 1px;
  }
  h4 {
    margin: 0px;
  }

  ul {
    padding: 0px;
    list-style-type: none;
  }

  legend {
    font-weight: bold;
    padding: 0px;
  }

  p{
    padding: 0px;
  }

  .container {
    background-image: url("https://img.freepik.com/vector-gratis/diseno-fondo-abstracto-blanco_23-2148825582.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 12px;
    width: 60%;
    margin: 0 auto;    
  }
